z_FTP_Client_Example/src/main/resources/ftp-service-config.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ftpServiceConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ftpServer" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="hostName"/>
              <xs:element type="xs:byte" name="port"/>
              <xs:element type="xs:string" name="userName"/>
              <xs:element type="xs:string" name="password"/>
              <xs:element name="dataFile" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="location"/>
                    <xs:element type="xs:string" name="name"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>